<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>CONTACT US</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style7.css') }}">
 
</head> 
<body>
   <div class="container">
      <h1>Connect With Us</h1>
        <p>We would love to respond to ur queries and help u succeed. </p>
      <div class="contact-box">
         <div class="contact-left">
           <h3>Send your Request</h3>
       <form>
          <div class="input-row">
            <div class="input-group">
              <label>Name </label>
               <input type="text" placeholder="John Amendo">
           </div>
          <div class="input-group">
              <label>Phone </label>
               <input type="text" placeholder="+1 543 543 5671">
          </div>
      </div>
       <div class="input-row">
           <div class="input-group">
              <label>Email </label>
               <input type="Email"  
                placeholder="johnamendo@gmail.com">
           </div>
          <div class="input-group">
              <label>Subject </label>
               <input type="text" placeholder="Product Demo">
          </div>
      </div>
        <label>Message</label>
        <textarea rows="5" placeholder="Your Message"></textarea>
         <button type="submit">SEND</button>
     </form>
    </div>
    <div class="contact-right">
       <h3>Reach Us</h3>
        <table>
         <tr>
            <td>Email</td>
            <td>contactus@example.com</td>
         </tr>
         <tr>
            <td>Phone number</td>
            <td>+1 93 975 5787</td>
         </tr> 
       </table>
    </div>
  </div>
 </div>
</body>
</html>
