<!DOCTYPE html>
<html>
<head>
<title>ABOUT US</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="style.css">
</head>
<body>
<center>
<h1>TPC</h1>
</center>
<p>Now a days campus placement are conducted in all colleges. Various software and other sector companies are conducting 
campus selections for selecting merit candidates.When campus selections are conducted the students should provide their 
curriculum vitae to the concern officer for attending the campus interviews.This routine process is maintained manually, 
like maintenance of their resumes in papers. This can be automated by designing software.</p>

<p>Training and Placement Cell is a total management and informative system, which provides the up-to date information of 
all the students in a particular college.TPC helps the colleges to overcome the difficulty in keeping records of hundreds 
and thousands of students and searching for a student eligible for recruitment criteria from the whole thing.
It helps in effective and timely utilization of the hardware and the software resources.</p>

<p>The project is aimed at developing an online web application forthe training and placement department of the college.The 
system is an online web application that can be accessed throughout theInstitute with proper login provided.This system 
can be used asan application for the TPO of the college to manage the studentinformation with regard to placement.Student 
logging should beable to upload their information.Organizations representatives logging in may also access/search
an information put up by the students.TPO have to collect theinformation and manage them manually according to various
streams.If any modification is required that is also to be done manually. Overall it will reduce the paper work and utilize 
themaximum capability of the setup and organization as well as itwill save time and money.</p>
</body>
</html>
