<!DOCTYPE html>
<html>

<head>
    <title>TRAINING AND PLACEMENT CELL</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index1.css') }}">
</head>
<header id="header01">

    <body>
        <div class="main">
            <div class="logo">
                <img src="logo.png">
            </div>
            <ul>
                <li class="active"><a href="#">Home</a></li>
                <li><a href="about">about</a></li>
                <li><a href="contact">contact</a></li>
            </ul>
        </div>
        <div class="title">
            <h1>TRAINING AND PLACEMENT CELL</h1>
        </div>
        <form action="" method="post">
        <div class="button">
                <a href = 'login' class="btn" type="submit" name="login" value= "login">LOGIN / SIGNUP</a>
        </div>
        </form>
</header>
</body>

</html>