<!DOCTYPE html>
<html>
<head>
<title>MOCK TEST-1</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='style5.css') }}">
</head>
<body>
<div class="container">
<header>
<div class="pull-left">TEST-1</div>
<div class="pull-right">TPC</div>
</header>
<main>
<form class="questionform" id="q1" date-questions="1">
<h3>1.A Square shaped wooden plate has a diagonal length of 30cm. Can you find the Perimeter of plate ?</h3>
<ul>
<li><input name="q1" type="radio" value="a" />120cm;</li>
<li><input name="q1" type="radio" value="a" />60cm;</li>
<li><input name="q1" type="radio" value="a" />60 1/2cm;</li>
<li><input name="q1" type="radio" value="a" />45cm;</li>
</ul>
<button id="submit">Submit</button>
</form>
<form class="questionform" id="q2" date-questions="2">
<h3>2. Evaluate the expression: 2 + 5 * 6 - 7 * 8 / 4 + 6</h3>
<ul>
<li><input  name="q2" type="radio" value="a" />22;</li>
<li><input name="q2" type="radio" value="a" />23;</li>
<li><input  name="q2" type="radio" value="a" />21;</li>
<li><input  name="q2" type="radio" value="a" />24;</li>
</ul>
<button id="submit">Submit</button>
</form>
<form class="questionForm" id="q3" date-questions="3">
<h3>3.Find the next number in the the below series
23, 38, 56, 77, _____</h3>
<ul>
  <li><input name="q3" type="radio" value="a" />100;</li>
<li><input name="q3" type="radio" value="a" />102;</li>
<li><input name="q3" type="radio" value="a" />101;</li>
<li><input name="q3" type="radio" value="a" />99;</li>
</ul>
<button id="submit">Submit</button>
</form>
<form class="questionForm" id="q1" date-questions="4">
<h3>4.An accurate clock shows 9 'o' clock in the morning. Through how many degrees will the hour hand rotate when the clock shows 3 'o' clock in the afternoon?</h3>
<ul>
<li><input name="q4" type="radio" value="a" />150 degree;</li>
<li><input name="q4" type="radio" value="a" />160 degree;</li>
<li><input name="q4" type="radio" value="a" />120 degree;</li>
<li><input name="q4" type="radio" value="a" />180 degree;</li>
</ul>
<button id="submit">Submit</button>
</form>
<form class="questionForm" id="q5" date-questions="5">
<h3>5.A rectangular plot has a length of 26 units, and breadth of 14 units. Find the area of the plot ?</h3>
<ul>
<li><input name="q5" type="radio" value="a" />676;</li>
<li><input name="q5" type="radio" value="a" />40;</li>
<li><input name="q5" type="radio" value="a" />182;</li>
<li><input name="q5" type="radio" value="a" />364;</li>
</ul>
<button id="submit">Submit</button>
<p><button id="submit">Finish Test</button></p>
<a href="Training.html">  </a>
</form>

<div id="results"></div>
<br>
</main>
<footer>
<div class="pull-left"></div>
</footer>

</div>
</body>
</html>
