<!DOCTYPE html>
<html>

<head>
   <title>TRAINING</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

   <nav>
      <p>Online classes</p>
      <ul>
         <li><a href="#">Training</a>
            <ul>
               <li><a href="videogallery">Videos</a>
               <li>
               <li><a href="files">Files</a>
               <li>
               <li><a href="mocktest">Mocktests</a>
               <li>
               </li>
            </ul>
      </ul>
      <ul>
         <li>
            <a href="checkrender">Available Jobs</a>
         </li>
      </ul>
      <ul>
         <li>
            <a href="login">Logout</a>
         </li>
      </ul>
      <ul>
         <li>
            <a href="editstudentdetails">Edit Details</a>
         </li>
      </ul>
   </nav>
   </div>
</body>

</html>
</body>

</html>